<template>
  
  <div>
    <form @submit.prevent="onSubmit">
      <div>
        <input
          class="border-2 border-gray-200 p-2 shadow"
          type="text"
          v-model="projectName"
          placeholder="Project Name"
        />
      </div>
      <div>
        <input
          class="border-2 border-gray-200 p-2 shadow mt-3"
          type="text"
          v-model="streamLead"
          placeholder="Stream Lead"
        />
      </div>
      <div>
        <input
          class="border-2 border-gray-200 p-2 shadow mt-3"
          type="text"
          v-model="customer"
          placeholder="Customer"
        />
      </div>
      <div>
        <input
          class="
            bg-blue-400
            hover:bg-blue-500
            px-2
            border-2 border-blue-600
            text-white
            shadow
            mt-3
            cursor-pointer
          "
          type="submit"
          value="Create Project"
        />
      </div>
    </form>
  </div>
  <ProjectList />
</template>

<script>
import { mapActions } from "vuex";
import ProjectList from "@/components/ProjectList.vue";
export default {
  data() {
    return {
      projectName: "",
      streamLead: "",
      customer: "",
    };
  },
  components: {
    ProjectList
  },
  methods: {
    ...mapActions("projects", ["createProject"]),
    onSubmit() {
      this.createProject({
        projectName: this.projectName,
        streamLead: this.streamLead,
        customer: this.customer,
      });
    },
  },
};
</script>

<style></style>
