<template>
  <div
    class="text-xs cursor-pointer text-blue-500"
    @click="showForm = !showForm"
  >
    Add Department
  </div>
  <div v-if="showForm">
    <form @submit.prevent="onSubmit">
      <div>
        <input
          type="text"
          class="border-2 border-gray-200 p-2 shadow mt-3"
          placeholder="Department Name"
          v-model="departmentName"
        />
      </div>
      <div>
        <input
          class="
            bg-blue-400
            hover:bg-blue-500
            px-2
            border-2 border-blue-600
            text-white
            shadow
            mt-3
            cursor-pointer
          "
          type="submit"
          value="Add Department"
        />
      </div>
    </form>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  data() {
    return {
      showForm: false,
      departmentName: "",
    };
  },
  methods: {
    ...mapActions("projects", ["addDepartment"]),
    onSubmit() {
      this.addDepartment(this.departmentName);
      this.showForm = false;
    },
  },
};
</script>
