<template>
  <div class="mt-3">
    <span
      class="text-blue-500 hover:text-blue-600 cursor-pointer"
      @click="showForm = !showForm"
      >Toggle Create Task Form</span
    >
  </div>
  <form @submit.prevent="onSubmit" v-if="showForm">
    <div class="">
      <div class="flex">
        <div>
          <div class="font-semibold">Task Name</div>
          <input
            type="text"
            placeholder="Task Name"
            v-model="task.title"
            required
            class="border-2 border-blue-300 p-1 mr-2"
          />
        </div>
        <div>
          <div class="font-semibold">Department</div>
          <select
            v-model="task.department"
            class="border-2 border-blue-300 p-1 mr-2"
            required
          >
            <option value="">Select Department</option>
            <option v-for="(department, index) in departments" :key="index">
              {{ department.name }}
            </option>
          </select>
        </div>
        <div>
          <div class="font-semibold">Responsible Person</div>
          <input
            type="text"
            placeholder="Responsible person"
            v-model="task.lead"
            class="border-2 border-blue-300 p-1 mr-2"
          />
        </div>
      </div>
      <div class="flex">
        <div>
          <div class="flex">
            <div class="font-semibold">Task Start</div>
            <div class="ml-3">
              <input type="checkbox" v-model="enterDate" /> Use fixed date
            </div>
          </div>
          <select
            v-model="task.start"
            class="border-2 border-blue-300 p-1 mr-2"
            v-if="!enterDate"
          >
            <option value="">Start task After</option>
            <option
              v-for="taskItem in allTasks"
              :key="taskItem.taskId"
              :value="`after ${taskItem.taskId}`"
            >
              {{ taskItem.title }} ({{ taskItem.department }})
            </option>
          </select>
          <input
            v-if="enterDate"
            type="date"
            placeholder="Start Date"
            v-model="task.start"
            class="border-2 border-blue-300 p-1 mr-2 w-36"
          />
        </div>
        <div>
          <div class="font-semibold">Duration</div>
          <input
            type="text"
            placeholder="Duration"
            v-model="task.duration"
            class="border-2 border-blue-300 p-1 mr-2 w-24"
          />
        </div>
      </div>
      <div class="flex">
        <div>
          <div class="font-semibold">Critical Task</div>
          <input
            type="checkbox"
            v-model="task.crit"
            class="border-2 border-blue-300 p-1 mr-1"
          />
          <span class="mr-2">Critical?</span>
        </div>
        <div class="ml-3">
          <div class="font-semibold">Percent Complete</div>
          <input
            type="number"
            placeholder="task.percentComplete"
            v-model="task.percentComplete"
            class="border-2 border-blue-300 p-1 mr-2 w-24"
          />
        </div>
      </div>
      <div>
        <input
          type="submit"
          value="Save"
          class="
            bg-blue-300
            hover:bg-blue:400
            border-2 border-blue-500
            cursor-pointer
            rounded
            h-8
            px-2
          "
        />
      </div>
    </div>
  </form>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";
export default {
  data() {
    return {
      showForm: false,
      enterDate: false,
      task: {
        title: "",
        department: [],
        lead: "",
        percentComplete: 0,
        crit: false,
        start: "",
        duration: "1d",
      },
    };
  },
  computed: {
    ...mapState("projects", ["departments"]),
    ...mapGetters("projects", ["allTasks"]),
  },
  methods: {
    ...mapActions("projects", ["addTask"]),
    onSubmit() {
      this.addTask(this.task);
    },
  },
};
</script>

<style></style>
