<template>
  <div class="text-xl font-semibold">Departments</div>
  <div>
    <AddDepartment />
  </div>
  <div v-for="department in departments" :key="department.name">
    <div>
      <span class="text-blue-500 font-semibold">{{ department.name }} </span>
      <span>- Lead: {{ department.departmentLead }} </span>
      <span>- Tasks: {{ department.tasks.length }} </span> [<span class="text-blue-500 cursor-pointer">+</span>]
    </div>
  </div>
</template>

<script>
import AddDepartment from "@/components/AddDepartment.vue";
export default {
  props: ["departments"],
  components: {
    AddDepartment,
  },
};
</script>
