<template>
  <div v-html="ganttData"></div>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "GanttChart",
  data() {
    return {
      mdiCode: null,
      departmentList: [],
      ganttData: "",
    };
  },
  computed: {
    ...mapState("projects", ["departments", "project"]),
    ganttChart() {
      let ganttCode = `
~~~mermaid
        gantt
          title ${this.project.projectName}
          dateFormat YYYY-MM-DD
      `;
      for (
        let dep_i = 0;
        dep_i <= this.departmentList.length - 1;
        dep_i++
      ) {
        ganttCode += `\nsection ${this.departmentList[dep_i].name}`;
        for (
          let task_i = 0;
          task_i <= this.departmentList[dep_i].tasks.length - 1;
          task_i++
        ) {
          let task = this.departmentList[dep_i].tasks[task_i];
          ganttCode += `\n${task.title} (${task.lead}) ${(
            task.percentComplete * 100
          ).toFixed(0)}% :${task.crit ? "crit," : ""} ${
            task.percentComplete >= 1 ? "done," : ""
          } ${task.taskId}, ${task.start}, ${task.duration}`;
          ganttCode += `click ${task.taskId} call handleClick(${task.taskId})`;
        }
      }
      ganttCode += "\n~~~";
      return this.$mdi.render(ganttCode);
    },
  },
  methods: {
    handleClick(taskId) {
      console.log("Clicked", taskId);
    },
  },
  watch: {
    departments(data) {
      this.departmentList = data;
    },
    ganttChart(gantt) {
      console.log("I am here");
      this.ganttData = new Date();
      setTimeout(() => {
        this.ganttData = gantt;
      }, 200);
    },
  },
};
</script>
