<template>
  <form @submit.prevent="onChange">
    <select
      v-model="projectId"
      required
      class="bg-blue-50 p-2 w-full rounded"
      @change="onChange"
    >
      <option value="">Choose a project</option>
      <option
        v-for="project in projectList"
        :value="project._id"
        :key="project._id"
      >
        {{ project.projectName }}
      </option>
    </select>
  </form>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
  data() {
    return {
      projectId: "",
    };
  },
  computed: {
    ...mapState("projects", ["projectList"]),
  },
  methods: {
    ...mapActions("projects", ["getProjects", "loadProject"]),
    onChange() {
      this.loadProject(this.projectId);
    },
  },
  mounted() {
    this.getProjects();
  },
};
</script>
