<template>
  <div>
    <div class="text-blue-600 font-semibold text-lg">PROJECT DEPARTMENTS</div>
    <div class="border-2 border-blue-300 shadow p-2 bg-blue-200 rounded">
      <div class="flex mb-2">
        <div class="w-2/12 font-semibold">Department</div>
        <div class="w-1/12 font-semibold">Tasks</div>
        <div class="w-2/12 font-semibold">Department Lead</div>
      </div>
      <div class="flex" v-for="(dep, index) in departments" :key="index">
        <div class="w-2/12">{{ dep.name }}</div>
        <div class="w-1/12">{{ dep.tasks.length }}</div>
        <div class="w-2/12">{{ dep.departmentLead }}</div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
export default {
  computed: {
    ...mapState("projects", ["project", "departments"]),
  },
  methods: {
    ...mapActions("projects", ["getDepartments"]),
  },

  mounted() {
    this.getDepartments();
  }
};
</script>
