<template>
  <div v-if="project.hasOwnProperty('_id')">
    <ProjectDetail class="my-2" />
    <ProjectDepartments />
    <Tasks />
  </div>
</template>

<script>
import { mapState } from "vuex";
import ProjectDetail from "@/components/ProjectDetail.vue";
import ProjectDepartments from "@/components/ProjectDepartments.vue";
import Tasks from "@/components/Tasks.vue";
export default {
  components: {
    ProjectDetail,
    ProjectDepartments,
    Tasks,
  },
  computed: {
    ...mapState("projects", ["project"]),
  }
};
</script>
