<template>
  <div>
    <div class="text-blue-600 font-semibold text-lg">PROJECT DETAIL</div>
    <div class="border-2 border-blue-300 shadow p-2 bg-blue-200 rounded">
      <div class="flex">
        <div class="w-1/12">Name:</div>
        <div class="w-11/12">{{ project.projectName }}</div>
      </div>
      <div class="flex">
        <div class="w-1/12">Stream Lead:</div>
        <div class="w-11/12">{{ project.streamLead }}</div>
      </div>
      <div class="flex">
        <div class="w-1/12">Customer:</div>
        <div class="w-11/12">{{ project.customer }}</div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  computed: {
    ...mapState("projects", ["project"]),
  },
};
</script>
