<template>
  <div>
    <div class="card">
      <div class="text-xl">Task List</div>
      <DataTable :value="taskList" responsiveLayout="scroll">
        <Column field="department" header="Department" :sortable="true"></Column>
        <Column field="title" header="Title" :sortable="true"></Column>
        <Column field="start" header="Start" :sortable="true"></Column>
        <Column field="duration" header="Duration" :sortable="true"></Column>
        <Column field="crit" header="Ciritical Task" :sortable="true"></Column>
      </DataTable>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      taskList: [],
    };
  },
  props: ["tasks"],
  watch: {
    tasks(tasks) {
      this.taskList = tasks;
    },
  },
};
</script>
