<template>
  <CreateTask />
  <GanttChart />
  <TaskList :tasks="taskList" />
</template>

<script>
import CreateTask from "@/components/CreateTask.vue";
import TaskList from "@/components/TaskList.vue";
import GanttChart from "@/components/GanttChart.vue";
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      table: null,
      taskList: [],
    };
  },
  computed: {
    ...mapGetters("projects", ["allTasks"]),
  },
  components: {
    CreateTask,
    TaskList,
    GanttChart,
  },
  watch: {
    allTasks(tasks) {
      this.taskList = tasks;
    },
  },
};
</script>
