<template>
  <div class="min-h-screen flex flex-col text-blue-500">
    <div>
      <Header />
    </div>
    <div class="p-2 flex-grow bg-blue-100">
      <ProjectList />
      <router-view />
    </div>
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
import ProjectList from "@/components/ProjectList.vue";
export default {
  components: {
    Header,
    ProjectList
  }
}
</script>
    ProjectList